<div class="table-modals">
    <div>
        <p class="table-header">Table of customers</p>
        <table class="table">
            <tr class="tr">
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
            </tr>
            <tr *ngFor='let member of members let i=index'>
                <td>{{member.name}}</td>
                <td>{{member.surname}}</td>
                <td>{{member.age}}</td>
                <div class="table-buttons">
                    <button (click)="findMember(i)">Edit</button>
                    <button (click)="remove(i)">Delete</button>
                </div>
            </tr>
        </table>
    </div>
    <div class="modals">
        <p>Add a new member</p>
        <button class="modals-button" (click)="openModal()">Add member</button>
    </div>
</div>