.table-modals {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-header {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.table {
    margin-top:5px;
}

th {
    font-size: 17px;
    background-color: rgb(4, 83, 230);
    color: white;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid black;
}

td {
    font-size: 16px;
    background-color: rgb(255, 250, 250);
    text-align: center;
    border: 1px solid black;
}

.table-buttons {
    padding-left: 5px;
}

button + button {
    margin-left: 5px;
}

button {
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    border-style: outset;
}

.modals {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 67px;
    margin-left: 50px;
    line-height: 35%;
}

