header {
  /* color: white;
  font-size: 21px;
  font-family: Georgia, serif;
  text-shadow: 8px 5px 6px black; */
  background-color: rgb(4, 83, 230);
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px groove rgb(2, 51, 134);
}

h1 {
  color: white;
  font-size: 45px;
  font-family: Georgia, serif;
  text-shadow: 8px 5px 6px black;
}

.footer {
  color: white;
  background-color: rgb(4, 83, 230);
  margin-top: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 125px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px groove rgb(2, 51, 134);
  position: relative;
}

.footer-img {
  position: absolute;
  left: center;
  max-width: 120px;
  max-height: 120px;
  opacity: 0.75;
}

.figcaption {
  position: absolute;
  left: center;
  margin-top: 55px;
  font-size: 21px;
  font-family: Florence, cursive;
  text-shadow: 8px 5px 6px black;
  
  /* background-image: url('src/assets/images/Uncle_Sam.jpg'); */
    /* background-repeat: no-repeat;
    background-attachment: scroll; */
}