<header>
    <h1>Membership</h1>
</header>
<main>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>
<footer class="footer">
    <img class="footer-img" src="assets/images/Uncle_Sam.jpg" />
    <figcaption class="figcaption">Send me an email at <strong>kamil.koscielski88@gmail.com</strong></figcaption>
</footer>