<div>
    <app-member></app-member>
</div>
<div class="app-member-add-modal">
    <div class="app-member-add-modal-body">
        <div>
            <form class="add-form" [formGroup]="memberForm" (ngSubmit)="submit()">
                <h1>Member form</h1>
                <label for="name">Name</label>
                <br />
                <input type="text" placeholder="Name" id="name" formControlName="name"
                    [ngClass]="{'error-border': borderName()}" />
                <p class="error-text"
                    *ngIf="memberForm.controls['name'].touched && memberForm.controls['name'].invalid && !memberForm.controls['name'].hasError('minlength') || isSubmitted && memberForm.controls['name'].invalid && !memberForm.controls['name'].hasError('minlength') ">
                    Name is
                    required</p>
                <p class="error-text"
                    *ngIf=" memberForm.controls['name'].touched && memberForm.controls['name'].hasError('minlength') ">
                    Name can't have less than 3 chars</p>
                <br />
                <label for="surname">Surname</label>
                <br />
                <input type="text" placeholder="Surname" id="surname" formControlName="surname"
                    [ngClass]="{'error-border': borderSurname()}" />
                <p class="error-text"
                    *ngIf="memberForm.controls['surname'].touched && memberForm.controls['surname'].invalid || isSubmitted && memberForm.controls['surname'].invalid ">
                    Surname is
                    required</p>
                <br />
                <label for="age">Year of birth</label>
                <br />
                <input type="text" [placeholder]="selectedNum" id="age" list="numbers" formControlName="age"
                    [ngClass]="{'error-border': borderAge()}" (change)="onNumberChange($event)" />
                <datalist id="numbers">
                    <option *ngFor="let num of nums" [value]="num">{{num}} </option>
                </datalist>
                <p class="error-text"
                    *ngIf="memberForm.controls['age'].touched && memberForm.controls['age'].invalid && !memberForm.controls['age'].hasError('pattern') || isSubmitted && memberForm.controls['age'].invalid && !memberForm.controls['age'].hasError('pattern')">
                    Age is
                    required</p>
                <p class="error-text"
                    *ngIf=" memberForm.controls['age'].touched && memberForm.controls['age'].hasError('pattern') ">
                    Enter four digits</p>
                <p class="error-text" *ngIf="checkAge() ">
                    You have to reach the legal age</p>
                <br />
                <div class="buttons">
                    <button type="submit">Save</button>
                    <button (click)="closeModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="app-member-add-modal-background"></div>