.app-member-add-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    max-width: 1400px;
    font-size: 16px;
    font-weight: 550;
    
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .app-member-add-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;
}

.app-member-add-modal-body {
    padding: 25px 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    /* margin: 40px; */
}

.app-member-add-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    
    /* z-index must be below .app-member-add-modal and above everything else  */
    z-index: 900;
}

body.app-member-add-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

input {
    margin-bottom: 7px;
    width: 220px;
}

h1 {
    font-size: 21px;
    text-align: center;
}

.buttons {
    margin-top: 8px;
    text-align: center;
}

button + button {
    margin-left: 5px;
}

button {
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    border-style: outset;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error-border {
    border: 1px solid red;
}

.error-text {
    font-size: 16px;
    margin: 0px;
    line-height: 45%;
    font-weight: normal;
    color: red;
}